.foote {
    .foote_ro {
        display: flex;
        background-color: #303030;
        flex-direction: row;
        .foote_ro_blo1 {
            .foote_ro_blo1_ro {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                .foote_ro_blo1_ro_tx1 {
                    font-style: normal;
                    color: white;
                    font-size: 19px;
                    font-family: "Pathway Gothic One", sans-serif;
                }
            }
        }

        .foote_ro_blo2 {
            width: 1907px;
            .foote_ro_blo2_ro {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                @include doug_scre_2 {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                @include doug_scre_3 {
                    display: flex;
                    flex-direction: column;
                    row-gap: 37px;
                    flex-wrap: wrap;
                    align-items: center;
                }

                @include doug_scre_4 {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    row-gap: 53px;
                    align-items: flex-start;
                }
                .foote_ro_blo2_ro_blo1 {
                    .foote_ro_blo2_ro_blo1_ro {
                        display: flex;
                        flex-direction: column;
                        .foote_ro_blo2_ro_blo1_ro_tx1 {
                            position: relative;
                            font-style: normal;
                            font-size: 15px;
                            cursor: pointer;
                            color: white;
                            font-family: "Source Serif Pro", sans-serif;
                            transition: 0.5s;
                            &::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 0px;
                                height: 5px;
                                border-radius: 75px;
                                background-color: white;
                                left: 0px;
                                bottom: -1px;
                                transition: 0.5s;
                            }

                            &:hover::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 56px;
                                height: 5px;
                                border-radius: 75px;
                                background-color: white;
                                left: 0px;
                                bottom: -1px;
                            }

                            @include doug_scre_2 {
                                position: relative;
                                font-style: normal;
                                font-size: 15px;
                                cursor: pointer;
                                color: white;
                                font-family: "Source Serif Pro", sans-serif;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                    transition: 0.5s;
                                }
    
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 56px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                }
                            }

                            @include doug_scre_3 {
                                position: relative;
                                font-style: normal;
                                font-size: 15px;
                                cursor: pointer;
                                color: white;
                                font-family: "Source Serif Pro", sans-serif;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                    transition: 0.5s;
                                }
    
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 56px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                }
                            }

                            @include doug_scre_4 {
                                position: relative;
                                font-style: normal;
                                font-size: 15px;
                                cursor: pointer;
                                color: white;
                                font-family: "Source Serif Pro", sans-serif;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                    transition: 0.5s;
                                }
    
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 56px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                }  
                            }
                        }

                        .foote_ro_blo2_ro_blo1_ro_tx2 {
                            position: relative;
                            font-style: normal;
                            font-size: 15px;
                            cursor: pointer;
                            color: white;
                            font-family: "Source Serif Pro", sans-serif;
                            transition: 0.5s;
                            &::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 0px;
                                height: 5px;
                                border-radius: 75px;
                                background-color: white;
                                left: 0px;
                                bottom: -1px;
                                transition: 0.5s;
                            }

                            &:hover::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 56px;
                                height: 5px;
                                border-radius: 75px;
                                background-color: white;
                                left: 0px;
                                bottom: -1px;
                            }

                            @include doug_scre_2 {
                                position: relative;
                                font-style: normal;
                                font-size: 15px;
                                cursor: pointer;
                                color: white;
                                font-family: "Source Serif Pro", sans-serif;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                    transition: 0.5s;
                                }
    
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 56px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                }
                            }

                            @include doug_scre_3 {
                                position: relative;
                                font-style: normal;
                                font-size: 15px;
                                cursor: pointer;
                                color: white;
                                font-family: "Source Serif Pro", sans-serif;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                    transition: 0.5s;
                                }
    
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 56px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                }
                            }

                            @include doug_scre_4 {
                                position: relative;
                                font-style: normal;
                                font-size: 15px;
                                cursor: pointer;
                                color: white;
                                font-family: "Source Serif Pro", sans-serif;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                    transition: 0.5s;
                                }
    
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 56px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                }  
                            }
                        }

                        .foote_ro_blo2_ro_blo1_ro_tx3 {
                            position: relative;
                            font-style: normal;
                            font-size: 15px;
                            cursor: pointer;
                            color: white;
                            font-family: "Source Serif Pro", sans-serif;
                            transition: 0.5s;
                            &::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 0px;
                                height: 5px;
                                border-radius: 75px;
                                background-color: white;
                                left: 0px;
                                bottom: -1px;
                                transition: 0.5s;
                            }

                            &:hover::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 39px;
                                height: 5px;
                                border-radius: 75px;
                                background-color: white;
                                left: 0px;
                                bottom: -1px;
                            }

                            @include doug_scre_2  {
                                position: relative;
                                font-style: normal;
                                font-size: 15px;
                                cursor: pointer;
                                color: white;
                                font-family: "Source Serif Pro", sans-serif;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                    transition: 0.5s;
                                }
    
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 39px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                }
                            }

                            @include doug_scre_3 {
                                position: relative;
                                font-style: normal;
                                font-size: 15px;
                                cursor: pointer;
                                color: white;
                                font-family: "Source Serif Pro", sans-serif;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                    transition: 0.5s;
                                }
    
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 39px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                }
                            }

                            @include doug_scre_4 {
                                position: relative;
                                font-style: normal;
                                font-size: 15px;
                                cursor: pointer;
                                color: white;
                                font-family: "Source Serif Pro", sans-serif;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                    transition: 0.5s;
                                }
    
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 39px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                }
                            }
                        }

                        .foote_ro_blo2_ro_blo1_ro_tx4 {
                            position: relative;
                            font-style: normal;
                            font-size: 15px;
                            cursor: pointer;
                            color: white;
                            font-family: "Source Serif Pro", sans-serif;
                            transition: 0.5s;
                            &::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 0px;
                                height: 5px;
                                border-radius: 75px;
                                background-color: white;
                                left: 0px;
                                bottom: -1px;
                                transition: 0.5s;
                            }

                            &:hover::after {
                                content: " ";
                                position: absolute;
                                cursor: pointer;
                                width: 39px;
                                height: 5px;
                                border-radius: 75px;
                                background-color: white;
                                left: 0px;
                                bottom: -1px;
                            }

                            @include doug_scre_2  {
                                position: relative;
                                font-style: normal;
                                font-size: 15px;
                                cursor: pointer;
                                color: white;
                                font-family: "Source Serif Pro", sans-serif;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                    transition: 0.5s;
                                }
    
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 39px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                }
                            }

                            @include doug_scre_3 {
                                position: relative;
                                font-style: normal;
                                font-size: 15px;
                                cursor: pointer;
                                color: white;
                                font-family: "Source Serif Pro", sans-serif;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                    transition: 0.5s;
                                }
    
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 39px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                }
                            }

                            @include doug_scre_4 {
                                position: relative;
                                font-style: normal;
                                font-size: 15px;
                                cursor: pointer;
                                color: white;
                                font-family: "Source Serif Pro", sans-serif;
                                transition: 0.5s;
                                &::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 0px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                    transition: 0.5s;
                                }
    
                                &:hover::after {
                                    content: " ";
                                    position: absolute;
                                    cursor: pointer;
                                    width: 39px;
                                    height: 5px;
                                    border-radius: 75px;
                                    background-color: white;
                                    left: 0px;
                                    bottom: -1px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}